USE [PlantAndHealth]
GO
/****** Object:  Table [dbo].[D_ARTICULOS]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ARTICULOS](
	[CODIGO_PRODUCTO] [nvarchar](255) NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[FAMILIA] [nvarchar](255) NULL,
	[PRECIO_UNITARIO] [int] NULL,
	[COSTO_UNITARIO] [int] NULL,
 CONSTRAINT [PK_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CLIENTES]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CLIENTES](
	[NRO] [smallint] NULL,
	[ID_CLIENTE] [nvarchar](255) NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[APELLIDO] [nvarchar](255) NULL,
	[EDAD] [smallint] NULL,
	[ESTADO_CIVIL] [nvarchar](255) NULL,
	[RESIDENCIA] [nvarchar](255) NULL,
	[ORIGEN] [nvarchar](255) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_COMUNA]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_COMUNA](
	[COMUNA_ID] [smallint] NOT NULL,
	[COMUNA_NOMBRE] [nvarchar](255) NULL,
	[PROVINCIA_ID] [smallint] NULL,
 CONSTRAINT [PK_COMUNA] PRIMARY KEY CLUSTERED 
(
	[COMUNA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_DETALLE_VENTA]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_DETALLE_VENTA](
	[DOCUMENTO] [nvarchar](255) NULL,
	[CODIGO_PRODUCTO] [nvarchar](255) NULL,
	[PRECIO_UNITARIO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_PROVINCIA]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_PROVINCIA](
	[PROVINCIA_ID] [smallint] NOT NULL,
	[PROVINCIA_NOMBRE] [nvarchar](255) NULL,
	[REGION_ID] [smallint] NULL,
 CONSTRAINT [PK_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[PROVINCIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_REGION]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_REGION](
	[REGION_ID] [smallint] NOT NULL,
	[REGION] [nvarchar](255) NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_SUCURSAL]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SUCURSAL](
	[SUCURSAL_ID] [smallint] NOT NULL,
	[NOMBRE_SUCURSAL] [nvarchar](255) NULL,
	[COMUNA_ID] [smallint] NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[SUCURSAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_VENDEDORES]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_VENDEDORES](
	[ID_VENDEDOR] [smallint] NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Apellido] [nvarchar](255) NULL,
	[TIPO_ CAPACITACION] [nvarchar](255) NULL,
	[HORAS_CAPACITACION] [smallint] NULL,
 CONSTRAINT [PK_VENDEDORES] PRIMARY KEY CLUSTERED 
(
	[ID_VENDEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATOS_MODIFICADOS]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_MODIFICADOS](
	[DOCUMENTO] [nvarchar](max) NULL,
	[FECHA] [datetime] NULL,
	[ID_CLIENTE] [nvarchar](max) NULL,
	[TIPO_DOCUMENTO] [nvarchar](max) NULL,
	[ID_VENDEDOR] [smallint] NULL,
	[TOTAL_NETO] [int] NULL,
	[IMPUESTO] [int] NULL,
	[TOTAL_DOCUMENTO] [int] NULL,
	[SUCURSAL_ID] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_VENTAS]    Script Date: 01/07/2022 06:44:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_VENTAS](
	[DOCUMENTO] [nvarchar](255) NOT NULL,
	[FECHA] [datetime] NULL,
	[ID_CLIENTE] [nvarchar](255) NULL,
	[TIPO_DOCUMENTO] [nvarchar](255) NULL,
	[ID_VENDEDOR] [smallint] NULL,
	[TOTAL_NETO] [int] NULL,
	[IMPUESTO] [int] NULL,
	[TOTAL_DOCUMENTO] [int] NULL,
	[SUCURSAL_ID] [smallint] NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[D_COMUNA]  WITH CHECK ADD  CONSTRAINT [FK_COMUNA_PROVINCIA] FOREIGN KEY([PROVINCIA_ID])
REFERENCES [dbo].[D_PROVINCIA] ([PROVINCIA_ID])
GO
ALTER TABLE [dbo].[D_COMUNA] CHECK CONSTRAINT [FK_COMUNA_PROVINCIA]
GO
ALTER TABLE [dbo].[D_DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_ARTICULOS1] FOREIGN KEY([CODIGO_PRODUCTO])
REFERENCES [dbo].[D_ARTICULOS] ([CODIGO_PRODUCTO])
GO
ALTER TABLE [dbo].[D_DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_ARTICULOS1]
GO
ALTER TABLE [dbo].[D_DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_VENTAS] FOREIGN KEY([DOCUMENTO])
REFERENCES [dbo].[H_VENTAS] ([DOCUMENTO])
GO
ALTER TABLE [dbo].[D_DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_VENTAS]
GO
ALTER TABLE [dbo].[D_PROVINCIA]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIA_REGION] FOREIGN KEY([REGION_ID])
REFERENCES [dbo].[D_REGION] ([REGION_ID])
GO
ALTER TABLE [dbo].[D_PROVINCIA] CHECK CONSTRAINT [FK_PROVINCIA_REGION]
GO
ALTER TABLE [dbo].[D_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_COMUNA] FOREIGN KEY([COMUNA_ID])
REFERENCES [dbo].[D_COMUNA] ([COMUNA_ID])
GO
ALTER TABLE [dbo].[D_SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_COMUNA]
GO
ALTER TABLE [dbo].[H_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[D_CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[H_VENTAS] CHECK CONSTRAINT [FK_VENTAS_CLIENTES]
GO
ALTER TABLE [dbo].[H_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_SUCURSAL] FOREIGN KEY([SUCURSAL_ID])
REFERENCES [dbo].[D_SUCURSAL] ([SUCURSAL_ID])
GO
ALTER TABLE [dbo].[H_VENTAS] CHECK CONSTRAINT [FK_VENTAS_SUCURSAL]
GO
ALTER TABLE [dbo].[H_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_VENDEDORES] FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[D_VENDEDORES] ([ID_VENDEDOR])
GO
ALTER TABLE [dbo].[H_VENTAS] CHECK CONSTRAINT [FK_VENTAS_VENDEDORES]
GO
